<mat-sidenav-container class="sidenav-custom">
 <mat-sidenav-content>

  <mat-card>
   <mat-card-title>

    <mat-progress-bar mode="indeterminate" color="warn" *ngIf="loading"></mat-progress-bar>

   </mat-card-title>
   <mat-card-content>

    <table mat-table [dataSource]="vendasflex" *ngIf="!errorMessage">

     <!-- CODIGO -->
     <ng-container matColumnDef="vlrflex">
      <th mat-header-cell *matHeaderCellDef> Valor do flex </th>
      <td mat-cell *matCellDef="let vendaflex"> {{vendaflex.vlrflex | currency: 'BRL'}} </td>
     </ng-container>

     <!-- NOME -->
     <ng-container matColumnDef="venda.codigo">
      <th mat-header-cell *matHeaderCellDef> Código da Venda </th>
      <td mat-cell *matCellDef="let vendaflex"> {{vendaflex.venda.codigo}} </td>
     </ng-container>

     <!-- CPF -->
     <ng-container matColumnDef="vendedor.nome">
      <th mat-header-cell *matHeaderCellDef> Vendedor </th>
      <td mat-cell *matCellDef="let vendaflex"> {{vendaflex.vendedor.nome}} </td>
     </ng-container>


     <!-- OPTIONS -->
     <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let vendaflex">
       <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
       </button>
       <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editar(vendaflex)">
         <mat-icon>edit</mat-icon>
         <span>Alterar</span>
        </button>
        <button mat-menu-item (click)="excluir(vendaflex)">
         <mat-icon>delete</mat-icon>
         <span>Excluir</span>
        </button>
       </mat-menu>
      </td>
     </ng-container>

     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="panel-error" *ngIf="errorMessage">
     <img src="assets/oops.png">
     <h1 headline>Ocorreu um erro!</h1>
     <p caption>{{errorMessage}}</p>
     <button mat-button color="warn" (click)="ngOnInit()">Tentar Novamente</button>
    </div>


   </mat-card-content>
  </mat-card>
 </mat-sidenav-content>

</mat-sidenav-container>